<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="ba83ba8f-2ec5-483e-b2f9-34568bc3ea15" created="2.3.0" activeEnvironment="test" name="GenericProject_v7" resourceRoot="${projectDir}" updated="2.3.0 2018-03-06T16:28:42Z" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This is a Data Driven Test (DDT) Framework that drives test data from an excel spreadsheet</con:description>
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="ProjectSettings@shadowPassword"/>
    <con:setting id="ba83ba8f-2ec5-483e-b2f9-34568bc3ea15fileName">GenericProject-readyapi-project</con:setting>
  </con:settings>
  <con:vcsConfiguration>
    <con:vcsName>Git</con:vcsName>
    <con:repositoryIdentifier>git@github.com:earth2digital/automated-api-qa.git</con:repositoryIdentifier>
  </con:vcsConfiguration>
  <con:endpointStrategy xsi:type="con:DefaultEndpointStrategy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <con:endpoint mode="COMPLEMENT" domain="api.myprototype.com.au">https://api.myprototype.com.au</con:endpoint>
  </con:endpointStrategy>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>tempToken</con:name>
      <con:value>ZkdsCt24oFWJ2dqTbOgiftBIixEy</con:value>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Get variables to control the flow of the script

def currentTestStepName = testStepResult.getTestStep().getName()
def currentDataSourceRowStepDescription = context.expand( '${ScenarioDataSource#stepDescription}')
def currentDataSourceRowSkipFlag = context.expand( '${ScenarioDataSource#Run}')
def currentDataSourceRowMethod = context.expand( '${ScenarioDataSource#method}')


if ( currentTestStepName.equals("Start")) {

  // Check if current test step to be skipped
  if (currentDataSourceRowSkipFlag.equals("false")) {
      testRunner.gotoStepByName( "End")
  }else{
      // 1. Save test step description for report
      testStepResult.addMessage("Step Description: " + currentDataSourceRowStepDescription) 
      
      // based on method route to relevant request
      if (currentDataSourceRowMethod.equals("LOGIN")) {
	    	testRunner.gotoStepByName( "LoginRequest")
	    } else if (currentDataSourceRowMethod.equals("POST")) {
	    	testRunner.gotoStepByName( "POSTRequest")
	    } else if (currentDataSourceRowMethod.equals("GET")) {
	    	testRunner.gotoStepByName( "GETRequest")
	    } else if (currentDataSourceRowMethod.equals("PUT")) {
	    	testRunner.gotoStepByName( "PUTRequest")
	    } else if (currentDataSourceRowMethod.equals("DELETE")) {
	    	testRunner.gotoStepByName( "DELETERequest")
	    }
  }
	
	// if current step is any of the steps we route to, then go to End step
	// as nothing else need to be done
} else if (currentTestStepName.equals("LoginRequest")) {
     testRunner.gotoStepByName( "PropertyTransferToken")
} else if ( currentTestStepName.equals("POSTRequest") ||
            currentTestStepName.equals("GETRequest") ||
            currentTestStepName.equals("PUTRequest") ||
            currentTestStepName.equals("DELETERequest") ||
            currentTestStepName.equals("PropertyTransferToken") 
          ) {

     testRunner.gotoStepByName( "End")
}</con:script>
  </con:eventHandlers>
  <con:environment id="9dd95e45-8e52-4747-9dc0-c6da44243ac3" name="test">
    <con:service type="REST" name="ScenarioGenericService">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://api.myprototype.com.au</con:endpoint>
    </con:service>
    <con:service type="REST" name="LoginService">
      <con:endpoint authProfile="No Authorization">https://api.myprototype.com.au</con:endpoint>
    </con:service>
    <con:property>
      <con:name>tempToken</con:name>
      <con:value>rTClfmVP62fV1B49OLe5w1uRAQq6</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
