<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3207f7dc-a274-48a6-9c59-8db4a86b2cfa" wadlVersion="http://wadl.dev.java.net/2009/02" name="LoginService" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3207f7dc-a274-48a6-9c59-8db4a86b2cfafileName">LoginService</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api.myprototype.com.au</con:endpoint></con:endpoints></con:interface>