<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="046204f4-b896-4a02-86e1-596c3d37bf6f" wadlVersion="http://wadl.dev.java.net/2009/02" name="ScenarioGenericService" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="046204f4-b896-4a02-86e1-596c3d37bf6ffileName">ScenarioGenericService</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api.myprototype.com.au</con:endpoint></con:endpoints></con:interface>